
body {
    font-family: 'Roboto', sans-serif;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    margin: 0;
    padding: 0;
}

nav {
    width: 30%;
}

.list-navegacion {
    width: 90%;
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    text-transform: uppercase;  /*mayúsculas */
     text-shadow: 3px 5px 20px rgb(5, 5, 5); 
}

a:link {
    color: black;

}
a:visited{
    color: blue;
}
a:hover{
    color: rgb(13, 128, 38);
}
a:visited{
    color: gray;
}
header {
    width: 100%;
    background-color: #ffffff;
    padding-bottom: 60px;
    padding-top: 20px;
}
/* .borde {
     background-color: aqua; 
    width: 99%;
    margin-left: 5px;
    margin-top: 10px;
    height: 120px;
    border-style: solid;
    border-color: rgb(178, 178, 201) ;
    border-radius: 15px;
    border-width: 1px;
}
 */
.container-header {
    width: 100%;
    margin-top: 100 px;
}

.flexbox-space-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

img{
    height: 170px;
    width: 170px;
}

@media (max-width: 799px)


{
    .container {
        width: 95%;
        flex-direction: column-reverse;
        justify-content: center;
    }
   
    .form {
        margin-top: 20px;
        width: 100%;
    }

    .img {
        border-bottom-right-radius: 0px;
    }
}
